.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}
body {
    background-color: moccasin;
}
p {
    font-family: arial;
    font-size: 30px;
    text-align: center;
    color: #0DFF92;
    text-shadow: #FFFFFF 1px 0 1px; 
    
}
.image {
    display: table;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center 
}
.fixed{
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
    width: 350px;
    justify-content: center;
}
input[type=submit] {
    margin: 10p;
    padding: 15px 35px;
    background: #222222;
    border:20;
    border-style: dotted;
    cursor:pointer;
    border-radius: 0%;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: #0DFF92;
    text-shadow: #FFFFFF 1px 0 1px; 
}
