labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.rightTab {
  display: inline-block;
  text-align: right;
  width: 48%;
  vertical-align: middle;
}
body {
  background-color: lightblue;
}
.p {
  font-family: verdana;
  font-size: 30px;
  text-align: center;
}
